### 1. What is the difference between a function and a method in Python?

In [ ]:
'''
solution:- FUNCTION :
           . It is a block of code which performs a specific task
           
           . It can be called again as per requirements.
           
           . It can be called without creating an object.
           
           . Defined using def keyword.
'''

#syntax :  def function():
               #funtion body starts


               #function body ends

In [10]:
# EXAMPLE :
def intro(name):
    print(f" Hello welcome to the code {name}")

In [12]:
#calling the  function
intro("Hrishabh")

 Hello welcome to the code Hrishabh

In [ ]:
'''
   METHOD :
   . It is a block of code associated with the class or object.

   . It is defined inside a class using def keyword.

   .It has access to object data through the self parameter.

   .Methods are part of a class , while functions are standalone 
'''

#syntax : class CLASSNAME:
#         def method_name(self , parameter1, parameter2)
#                    method body starts

#                    method body ends

In [14]:
# NOTE - class CLASSNAME defines the class that the method belongs to 
# EXAMPLE 
class PWSKILLS:
    def __init__(self,name,roll):
        self.name=name
        self.roll=roll
    def detail(self):
        print(f"Hello welcome to PWSKILLS {self.name}")
        print(f"Your roll no is : {self.roll}")

In [20]:
pw=PWSKILLS("HRISHABH",2339284)
pw.detail()

Hello welcome to PWSKILLS HRISHABH
Your roll no is : 2339284

In [ ]:
"""
note-  Here we can see that methods operate on object data while functions are general purpose
"""

### 2. Explain the concept of function arguments and parameters in Python

In [ ]:
'''
solution  :- FUNCTION : It is a block of code which performs a specific task and can be called again.
                        It can take arguments and parameters to make them reusable 
'''

In [25]:
# Example 
def welc(name,uid,age):
    print(f"Hello , Welcome {name} , you are {age} years old")
    print(f"Your unique id is : {uid}")

In [29]:
welc("HRISHABH",3429323,24)

Hello , Welcome HRISHABH , you are 24 years old
Your unique id is : 3429323

In [ ]:
'''
   ARGUMENTS : Values which are passed to the function is known as arguments.
   
               Arguments can be literals (strings , integers, variables etc).

               They are the actual data which is assigned to parameters.
'''

In [31]:
# Example 
welc("HRISHABH",3429323,24)  # Here HRISHABH , 3429323 , 24 are arguments

Hello , Welcome HRISHABH , you are 24 years old
Your unique id is : 3429323

In [ ]:
'''
    PARAMETERS : Variables that receive the values passed to the function.
    
                 It is used to specify what type of data the function can accpet.

                 Parameters are the receivers of the data

'''

In [ ]:
# Example 
def welc(name,uid,age): # Here  name , age , uid are parameters defined in the function

### 3. What are the different ways to define and call a function in Python?

In [ ]:
'''
solution :- Different ways to define function :-

            1- Standard function 
               def functionname (arguements):

            2- Lambda function 
               lambda arguements:expression 

            3- Generator function 
               def functionname(arguments):
                   yield value 

'''

In [36]:
# Example 
# Standard function
def intr(name):
    print(f"hello welcome to PWSKILLS , {name}")
intr("Ajay")

hello welcome to PWSKILLS , Ajay

In [72]:
# Lambda function
a=lambda n : 1 if n==0 else n*(n-1)
a(55)

2970

In [120]:
# Generator function 
def cdwn(n):
    while n > 0:
        yield n
        n -= 1
a=cdwn(50)
for i in a:
    print(i,end=' ')

50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [ ]:
'''
 Different ways to call a function:-

                 1- Standard function call
                     functionname(argument)

                2-  Keyword argument call 
                    functionname(keyword=argument)

                3- Positional argument call
                   functionname(argument1,argument2)
'''

In [126]:
# Example 
def nm(a,b):
    return (a + b

In [136]:
#1- Standard function call
nm(3434, 34)

3468

In [132]:
#2-  Keyword argument call 
nm(a=455,b=50)

505

In [134]:
#3- Positional argument call
nm(23,567)

590

### 4. What is the purpose of the `return` statement in a Python function?

In [ ]:
'''
solution :- Return statement allows the function to return values , these values can be variables , expressions.

            It can be used to exit the function early , before reaching end 

            It makes the code more readable by clearly indicating what the function returns 

'''

In [139]:
# Example 

def ai(a,b):
    return a+b    # It terminated extra code writing - re=add(a,b)
                                                   #   print(re)
ai(12,34)

46

### 5. What are iterators in Python and how do they differ from iterables?

In [ ]:
'''
solution:-  Iterator :--

                       It is an object representing a stream of data 
                       
                       -> Return the data one by one 
                       
                       It is used to iterate over iterable objects like lists, tuples, dicts, and sets.

                       It uses the `next()` method for iteration.

'''
#iterator object is initialized using the `iter()`

In [176]:
# Example 
na="hrishabh"
for  i  in  (na):
    print(i)

h
r
i
s
h
a
b
h

In [ ]:
 #first convert  the iterable string to iterator object using iter  and then access using next()

In [174]:
a=iter(na)
a

In [178]:
next(a)

'H'

In [180]:
next(a)

'r'

In [182]:
next(a)

'i'

In [184]:
next(a)

's'

In [186]:
next(a)

'h'

In [188]:
next(a)

'a'

In [ ]:
'''
    ITERABLE :-

               It is an python / object / data structure that is capable of returning its members one at a time 

               - Permitting it to be iterated over in a for loop

'''
# LIST , TUPLE

In [194]:
li=[1,2,3,4,5,6,7,8,9,10,"ok",34.3]
for i in li:
    print(i)

1
2
3
4
5
6
7
8
9
10
ok
34.3

In [196]:
tu=(1,2,3,4,54,6,345,324,56.34)
for i in tu:
    print(i)

1
2
3
4
54
6
345
324
56.34

### 6-Explain the concept of generators in Python and how they are defined.

In [ ]:
'''
solution :- GENERATORS -

                    Generator function in Python used  to create iterators in a more concise and memory-efficient manner

                    it uses yield statement and returns value and suspend the functions execution

                    It allows us to iterate over a  large sequence of data without loading the entire
                    sequence into memory , that's why this is more concise 

'''

In [262]:
# Example 
def si(x):
    for i in range(x):
        yield i**2

In [274]:
si(200)

In [276]:
c=si(200)

'''
 It doesn't stores values in memory at once
'''

In [278]:
next(c)

0

In [280]:
next(c)

1

In [282]:
next(c)

4

In [286]:
next(c)

9

In [288]:
next(c)

16

In [290]:
next(c)

25

### 7. What are the advantages of using generators over regular functions?

In [ ]:
'''
solution :- Advantages of using generators over regular functions are : - 

            The main difference between a regular function and a generator function is that 
            the latter uses the yield keyword to produce a series of values over time,
            one at a time, rather than returning a single result.


            Generators are memory-efficient because they don't store all values in memory at once.
            
            
            Each value is generated and consumed one at a time.


            Regular function stores values in memory at once
'''

In [ ]:
# Example of regular function

In [357]:
def li(n):
    r=[]
    for i in range(n):
        r.append(i**2)
    return r

In [361]:
li(30)

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841]

In [ ]:
# It stored the value in memory
# if we have to work on large data it will create difficulty because then execution will be slow

In [ ]:
# Example of generator function

In [371]:
def li(n):
    for i in range(n):
        yield i**2

In [373]:
li(50)

In [375]:
a=li(50)

In [377]:
next(a)

0

In [379]:
next(a)

1

In [381]:
next(a)

4

In [383]:
next(a)

9

In [385]:
next(a)

16

In [ ]:
#It  does not stored the value in memory
# Now if we have to work on large data it will be easy for us because execution will be fast and we can use next() by choice

### 8. What is a lambda function in Python and when is it typically used?

In [ ]:
'''
solution :- LAMBDA FUNCTION :- It is also know as ANOYNOMOUS FUNCTION / SHORTHAND FUNCTION 

                               It is used to create anonymous functions, also known as lambda expressions

                               It reduces the code lines so we can write any code in shortest way thats' why it is also known as shorthand 
                               function.


'''
# syntax
# lambda arguments : expression

In [388]:
# Example 
a=(lambda x,y:x+y)

In [390]:
a(2,3)

5

In [392]:
# Example 
# if we have to find factorial  without using lambda
# We have to write a long code
def fac(n):
    if n==0:
        return 1
    else:
        return n*fac(n-1)

In [394]:
fac(10)

3628800

In [396]:
# By using lambda we can reduce it in one line 
a=lambda n:1 if n==0 else n*fac(n-1)

In [398]:
a(10)

3628800

In [400]:
# Example 
# similarly for creating fib sequence
fib=lambda n:n if n<=1 else fib(n-1) + fib(n-2)

In [404]:
[fib(i) for i in range(10)]

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [482]:
# similarly without using lambda function 
n=10
r=[0,1]
for i in range(2,n):
    r.append(r[i-1]+r[i-2])
print(r)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

### 9- Explain the purpose and usage of the `map()` function in Python.

In [ ]:
'''
solution :- Map is built in function in Python

            It applies a given function to all the items in an iterable 

            It returns an iterable map object (an iterator) of the results.

            First parameter of map() is the function that you want to apply to each item in the iterable

            Second parameter onward represents one or more iterables (e.g., lists, tuples, strings) 

'''

In [ ]:
# Syntax 
# map(function , iterable)

In [ ]:
# Example

In [490]:
def sq(n):
    return n**2

In [492]:
list1=[2,4,6,8,10]
#now using map function
list(map(sq,list1))

[4, 16, 36, 64, 100]

In [494]:
# Example 2
# using map and lambda function 
list1=[222,33,44,5,34,3]
list2=[100,200,300,400,500,60]
list(map(lambda x,y:x+y ,list1,list2 ))

[322, 233, 344, 405, 534, 63]

In [496]:
a=[1,2,3,4,5,6]
def ad(x):
    return x+100
list(map(ad,a))

[101, 102, 103, 104, 105, 106]

In [ ]:
# map function is like a conveyor belt  which  process each item on by one

### 10. What is the difference between `map()`, `reduce()`, and `filter()` functions in Python?

In [ ]:
'''
solution :-  Difference between map() , reduce () and filter()


            1- map()
            
            It is a built in function in Python

            It applies a given function to all the items in an iterable , and return an iterable map object (an iterator) of the results

            It process each item one by one

'''

In [ ]:
# Example

In [499]:
a1=[2,4,6,8,10]

In [503]:
def di(x):
    return x/2

In [505]:
list(map(di,a1))

[1.0, 2.0, 3.0, 4.0, 5.0]

In [ ]:
'''
        2 - reduce()

        
         It is commonly known as folding / reduction

         It reduces items of list to a single value (cumulative value)

         Repeat the process until the iterable is exhausted and then return a single cumulative value.

'''
# syntax
# from functools import reduce
# reduce (function ,iterable)

In [511]:
# Example 

# first import reduce()

from functools import reduce
x1=[2,4,6,8,10]
reduce(lambda x,y:x*y ,x1)

3840

In [513]:
li=[1,2,3,4,5,6,7,8,9,10]

In [515]:
reduce(lambda x,y: x+y,li)

55

In [ ]:
'''
    3 - filter()

        It is used to filter elements from an iterable based on some condition

        It helps us to pick specific item from  a list

        filtering process involves going through each item in list and decide whether to keep it or discard it based on criteria

'''

# syntax
# filter(function , iterable)

In [517]:
# Example 

a=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17]

In [521]:
list(filter(lambda x:x%2!=0,a))

[1, 3, 5, 7, 9, 11, 13, 15, 17]

In [537]:
# Example 
a=[2,3,4,5,6,7,8,9]

In [539]:
list(filter(lambda x:x%2==0,a))

[2, 4, 6, 8]

#### 11 question is based on pen and paper ,   paper image is attached for this answer in doc

##                                                 PRACTICAL QUESTIONS

### 1.Write a Python function that takes a list of numbers as input and returns the sum of all even numbers in the list.

In [ ]:
# SOLUTION:-

In [320]:
def even_no(n):
    li=[]
    a=[]
    for i in range(n):
        x=int(input("enter numbers : "))
        a.append(x)
    print("-----------------")
    print(a)
    for j in a:
        if j%2==0:
            li.append(j)
    print("Even numbers in the list :",li)
    sa=sum(li)
    print("Sum of no :",sa)

In [322]:
even_no(6)

enter numbers :  1
enter numbers :  2
enter numbers :  3
enter numbers :  4
enter numbers :  5
enter numbers :  6

-----------------
[1, 2, 3, 4, 5, 6]
Even numbers in the list : [2, 4, 6]
Sum of no : 12

### 2. Create a Python function that accepts a string and returns the reverse of that string.

In [ ]:
# SOLUTION:-

In [43]:
def rev():
    x=input("Enter a string : ")
    print("------")
    c=x[::-1]
    return c

In [45]:
rev()

Enter a string :  hrishabh

------

'hbahsirh'

### 3. Implement a Python function that takes a list of integers and returns a new list containing the squares of each number..

In [ ]:
# SOLUTION:-

In [77]:
def sq(n):
    x=[]
    y=[]
    for i in range(n):
        a=int(input("enter numbers : "))
        x.append(a)
    print("-----------------")
    print("List of integers:-",x)
    for j in x:
        y.append(j**2)
    print("------------")
    print("Square of integers:-",y)

In [79]:
sq(6)

enter numbers :  11
enter numbers :  22
enter numbers :  33
enter numbers :  44
enter numbers :  55
enter numbers :  66

-----------------
List of integers:- [11, 22, 33, 44, 55, 66]
------------
Square of integers:- [121, 484, 1089, 1936, 3025, 4356]

### 4. Write a Python function that checks if a given number is prime or not from 1 to 200.

In [82]:
# SOLUTION:-

In [236]:
#manual function
def prime_p(n):
    a="It is not a prime number"
    b="It is a prime number"
    if n<2:
        return False
    for i in range(2,n):
        if n%i==0:
            return a
        return b
    for i in range(1,201):
        if prime_p(i):
            print(i)

In [254]:
prime_p(11)

'It is a prime number'

In [298]:
# Automatically fetch values from 1 to 200
def prime_p():
    a=[]
    for i in range(2,201):
        pri=True
        for j in range(2,i):
            if i%j==0:
                pri=False
                break
        if pri:
            a.append(i)
    print("Prime numbers list")
    print(a)

In [300]:
prime_p()

Prime numbers list
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199]

### 5. Create an iterator class in Python that generates the Fibonacci sequence up to a specified number of terms.

In [ ]:
# SOLUTION:-

In [336]:
class Fibgene:
    def __init__(self,x):
        self.x=x
        self.a,self.b=0,1
    def __iter__(self):
        return self 

    def __next__(self):
        if self.x>0:
            self.x -=1
            f1=self.a
            self.a,self.b=self.b,self.a+self.b
            return f1
        else:
            raise StopIteration

In [338]:
fi=Fibgene(20)
for i in fi:
    print(i,end=' ')

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181

In [ ]:
# NOTE - The iterator checks if there are more items to generate , if not it raises a stopiteration exception

In [ ]:
# by using raise stopiteration we can communicate between the iterator and the loop

### 6. Write a generator function in Python that yields the powers of 2 up to a given exponent.

In [ ]:
# SOLUTION:-

In [683]:
def squ():
    x=int(input("Enter exponent:"))
    n=1
    for i in range(x+1):
        yield n
        n=n*2

In [685]:
# Created the generator object 
a=squ()

In [687]:
for i in a:
    print(i)

Enter exponent: 6

1
2
4
8
16
32
64

### 7. Implement a generator function that reads a file line by line and yields each line as a string.

In [ ]:
# SOLUTION:-

In [520]:
def red():
    l1=["Apple","Banana","Apricot","Mango","Kiwi","Pineapple","Lemon","Berry","Guvava","Coconut"]
    for i in l1:
        yield i

In [522]:
red()

In [524]:
for j in red():
    print(f"Fruit:{j}")

Fruit:Apple
Fruit:Banana
Fruit:Apricot
Fruit:Mango
Fruit:Kiwi
Fruit:Pineapple
Fruit:Lemon
Fruit:Berry
Fruit:Guvava
Fruit:Coconut

In [ ]:
# OR

In [444]:
def fruits_generator():
    yield "Apple"
    yield "Banana"
    yield "Mango"
    yield "Kiwi"
    yield "Pineapple"
    yield "Lemon"
for i in fruits_generator():
    print(f"Fruit: {i}")

Fruit: Apple
Fruit: Banana
Fruit: Mango
Fruit: Kiwi
Fruit: Pineapple
Fruit: Lemon

### 8. Use a lambda function in Python to sort a list of tuples based on the second element of each tuple.

In [ ]:
# SOLUTION :-

In [551]:
na_m=[(1,2),(2,2),(3,3),(4,1),(5,12)]
srt=sorted(na_m,key=lambda x:x[1])
print(srt)

[(4, 1), (1, 2), (2, 2), (3, 3), (5, 12)]

### 9. Write a Python program that uses `map()` to convert a list of temperatures from Celsius to Fahrenheit

In [691]:
# SOLUTION :-

In [826]:
def feh():
    c=[2,45,34,23,32,17,19,7]
    print("Celsius :",c)
    f=list(map(lambda x:x*(9/5)+32,c))
    print("Fahrenhit :",f)

In [828]:
feh()

Celsius : [2, 45, 34, 23, 32, 17, 19, 7]
Fahrenhit : [35.6, 113.0, 93.2, 73.4, 89.6, 62.6, 66.2, 44.6]

### 10. Create a Python program that uses `filter()` to remove all the vowels from a given string.

In [712]:
# SOLUTION :-

In [822]:
def vow():
    from functools import reduce
    st=input("Enter a string :")
    re=reduce(lambda x,y:x+y,map(str,filter(lambda x: x  not in "aeiouAEIOU",st)))
    print("Without vowels:",re)

In [824]:
vow()

Enter a string : welcome to pw skills

Without vowels: wlcm t pw sklls

 ### 11) Imagine an accounting routine used in a book shop. It works on a list with sublists, which look like this:
   
           €.

###      Order Number               Book Title and Author                     Quantity          Price per Item
           
###           34587            Learning Python, Mark Lutz                      4                   40.95
           
###           98762            Programming Python, Mark Lutz                   5                   56.80
           
###           77226            Head First Python, Paul Barry                   3                   32.95
             
###          88112             Einführung in Python3, Bernd Klein              3                   24.99

### Write a Python program, which returns a list with 2-tuples. Each tuple consists of the order number and the product of the price per item and the quantity The product should be increased by 10, -€ if the value of the order is smaller than 100,00  €.

## Write a python program using lambda and map

In [877]:
# SOLUTION:-

In [1024]:
def inc():
    ord=[34587,98762,77226,88112]
    qu=[4,5,3,3]
    pr=[40.95,56.80,32.95,24.99]
    a=map(lambda x,y:(x+10)*y if x*y<100 else x*y,qu,pr)
    n=list(zip(ord,a))
    print(n)

In [1026]:
inc()

[(34587, 163.8), (98762, 284.0), (77226, 428.35), (88112, 324.87)]