In [ ]:
# 1.Explain the key features of Python that make it a popular choice for programming.

In [ ]:
'''
solution:- Key features which makes Python a popular choice for programming -
     1- Ease of learning
        :-its easy to learn because of easy structure.
     2- Easy to work
        :-syntax is easy in python coding.
     3- A lot of libraries
        :-prebuilt libraires helps in simplify coding and increase efficiency.
     4- Huge active community 
        :-huge community known for its continuous learning and improvement.
     5- Widely used in industry
        :-it is widely used in industry because of faster develpoment cycles,improved efficiency.
     6- Used in frontend,backend and data analysis 
        :-Python's simplicity make it an ideal choice .
'''

In [ ]:
# 2 Describe the role of predefined keywords in Python and provide examples of how they are used in a program.

In [2]:
'''
solution:- Keywords that are predefined holds a special meaning and have specific purpose in python .
           for example here are few predefined words :-
'''
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [4]:
#uses in program:-
#example 1
num=50
num2=100
if num>=num2:
    print("50 is greater than 100")
else:
    print("100 is greater than 50")

100 is greater than 50

In [8]:
#example 2
for i in range(10):
    print(i,end=' ')
    i=i+1

0 1 2 3 4 5 6 7 8 9

In [13]:
#example 3
a=8
i=0
while i<=a:
    i=i+1
    print(i,end=' ')
    if i==4:
        break

1 2 3 4

In [25]:
# 3 Compare and contrast mutable and immutable obects in Python with examples.
'''
solution:- Mutable objects 
          Whose state or value can be changed after they are created are known as mutable objects or container.
          LIST is a type of mutable object.
'''
#Example 1
a=[1,2,3,'ok',4]
print("Previous list :-",a)
a[3]=100
print("Changed value:-",a)

Previous list :- [1, 2, 3, 'ok', 4]
Changed value:- [1, 2, 3, 100, 4]

In [35]:
#Example 2
li=["Ajay","Nikhil","Rakesh"]
print(li)
print("Value to be changed :-",li[0])
li[0]="Rishabh"
print("Updated list :-",li)

['Ajay', 'Nikhil', 'Rakesh']
Value to be changed :- Ajay
Updated list :- ['Rishabh', 'Nikhil', 'Rakesh']

In [39]:
'''
     Immutable objects
     Whose state or value cannot be changed after they are created are known as immutable objects 
     STRING is a type of immutable object
     It doesn't support item assignment 
'''
#Example 
n_me="Ajay"
n_me[0]
n_me[0]="I"

TypeError: 'str' object does not support item assignment

In [ ]:
# 4 Discuss the different types of operators in Python and provide examples of how they are used.

In [41]:
'''
solution:- Different types of operators in Python are:-
           1- Arithmatic operator - +,-,x,%
              Used for basic calculations
'''
# Example 1
a=23
b=34
print(a+b)

57

In [43]:
#Example 2
a=23
b=45
print(a%b)

23

In [45]:
'''
    2- Comparison operator - "==", != , > , < , >= , <=
       used for comparing values 
'''
# Example 1
a-23
b-34
a>=b

False

In [47]:
# Example 2
x=213
y=45
x!=y

True

In [57]:
'''
   3- Logical operator - AND , OR , NOT 
      used for evaluating values to TRUE or FALSE
'''
# Example 1
a=33
b=31
a>23 and b>22
#TRUE if both a and b are true

True

In [63]:
# Example 2
a=34
b=23
a<2 or b>33

False

In [65]:
# Example 3
a=23
not a>11

False

In [67]:
'''
   4- Membership operator - in , not in
     used for testing membership or association between objects 
'''
# Example 1
a=[1,2,3]
1 in a

True

In [69]:
# Example 2
b=[4,5,6]
4 not in b

False

In [71]:
'''
   5- Identity operator - is , is  not 
      used for comparing the identity of objects
'''
# Example 1
a=[1,2,3,4,5,6,7]
a=b
a is b

True

In [91]:
# Example 2
a=[1,2,3,4,5,6,7]
b=["Hello","Thankyou"]
a=b

a is not b

False

In [ ]:
# 5- Explain the concept of type casting in Python with examples

In [99]:
'''
solution:- The process of changing the data type of a value/object is known as type casting / type conversion.
'''
# Example 1 
#Integer to Float
a=5
print(a)
type(a)

5

int

In [111]:
float(a)

5.0

In [123]:
#Adding string and integer
a="2"
b=4
a+b #It will throw an error

TypeError: can only concatenate str (not "int") to str

In [125]:
#string to integer
a="2"
b=3
c=int(a)+b
print(c)

5

In [137]:
#string to float
a="3.4"
print(type(a),a)
c=float(a)
print(type(c),c)

<class 'str'> 3.4
<class 'float'> 3.4

In [ ]:
#TYPES OF TYPECASTING>> IMPLICIT AND EXPLICIT

In [139]:
# IMPLICIT TYPECASTING>> PYTHON UNDERSTANDS THE DATATYPE
x=34
type(x)

int

In [141]:
a="HI"
type(a)

str

In [143]:
# EXPLICIT TYPECASTING>> CONVERT DATATYPE USING INBUILT FUNCTION - str,int,float,bool
x=23
type(x)

int

In [145]:
float(x)

23.0

In [147]:
str(x)

'23'

In [149]:
bool(x)

True

In [153]:
a="nikhil"
b=" singh "
c=a+b
print(c) # CONCATENATION OF STRING (COMBINING THE STRING)

nikhil singh

In [155]:
# 6  How do conditional stateMents work in Python? Illustrate with examples .

In [ ]:
'''
solution:- Conditional statements helps to make decisions, adapt to different scenarios, and execute specific
           actions based on conditions.
           1- if
           2- if-else
           3- if-elif-else
           4- nested if-else
'''

In [ ]:
# Example 1

In [159]:
# if - executes if block when the condition is true 
a=4
b=3
if a>b:
    print("a is greater than b")

a is greater than b

In [ ]:
# Example 2

In [161]:
# if-else - executes if block when the condition is true otherwise executes else block  
a=4
b=3
if a<b:
    print("b is greater than a")
else:
    print("a is greater than b")

a is greater than b

In [ ]:
# Example 3

In [163]:
# if-elif-else - executes if block when the condition is true otherwise elif block or else block whichever is true
a=4
if a>10:
    print("a is greater than 10")
elif a==4:
    print("a is equal to 4")
else:
    print("a is less than 4")

a is equal to 4

In [ ]:
#Example 4

In [165]:
# nested if-else - multiple if else inside if else
a=17
b=22
c=10
if a>c:
    if b<c:
        print("both a and b is greater than c")
    else:
        print("a is greater than c but b is not greater than c ")
else:
    print("a and b  both are not greater than c")

a is greater than c but b is not greater than c

In [ ]:
# 7- Describe the different types of loops in Python and their use cases with examples.

In [ ]:
'''
solution:- Loop statement allows us to execute a block of code repeatedly.
            1- for loop
            2- while loop
'''

In [167]:
# for loop- iterate over a sequence of elements > string , list
# Example 1
for i in range(10):
    print(i)
    i=i+1

0
1
2
3
4
5
6
7
8
9

In [193]:
# Example 2
# syntax of range(start,stop,step)\
a=list(range(0,200,7))
print(a,end=' ')

[0, 7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196]

In [199]:
# Example 3
# break  and if-else statement in for loop
for i in range(0,20):
    print(i)
    i=i+1
    if i==7:
        break
else:
    print("loop will be executed without break statement ")

0
1
2
3
4
5
6

In [201]:
# Example 4
# right angle triangle using for loop
for i in range(5):
    for j in range(i+1):
        print("*",end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [223]:
# Ecample 5
# Inverted right angle triangle
n=5
for i in range(5,0,-1):
    print("*"*i)

*****
****
***
**
*

In [9]:
# while loop - repeatedly execute a block of code  a until condition is met 
# Example 1 
n=20
i=1
while i<=n:
    print(i,end=' ')
    i=i+1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [ ]:
# Example 2

In [15]:
n=20
while n>0:
    print(n,end=' ')
    n=n-1

20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [ ]:
# Example 3

In [21]:
i=1
n=8
while i<=n:
    print(i)
    i=i+1
    if i==4:
        break
else:
    print("code is executed without break statement")

1
2
3

In [ ]:
# Example 4
#right angle triangle using while loop

In [50]:
i=1
j=1
while i<=5:
    j=1
    while j<=i:
        print("*",end=' ')
        j=j+1
    print()
    i=i+1

*
* *
* * *
* * * *
* * * * *

In [ ]:
# Example 5
# continue>skips the iteration

In [56]:
i=1
while i<=10:
    i=i+1
    if i==5:
        continue 
    print(i)
else:
    print("code executed successfuly without any break")

2
3
4
6
7
8
9
10
11
code executed successfuly without any break