In [ ]:
# 1- Discuss string slicing and provide examples.

In [ ]:
'''
solution:- String slicing means extracting a subset of characters from a string.
           
'''
# syntax for string slicing is :- string[start:stop:step]
# by default step is 1

In [2]:
# example 1:-
st="Hrishabh"
st[1]

'r'

In [6]:
# example 2:-
st[0]

'H'

In [8]:
# example 3:-
st[0:4]

'Hris'

In [10]:
# example 4:-
#from the above syntax- string[start:stop:step] 
st[0:6:2]

'Hih'

In [18]:
# example 5:-
ci="I live in Prayagraj city"
# if i  want to see everything except last 4 characters
ci[:-4]

'I live in Prayagraj '

In [20]:
# example 5:-
# if i only want to see last 4 characters
ci[-4:]

'city'

In [22]:
# exmaple 6:-
a="Hi how are you"
# it will iterate over the sequence 
# it wil start from beginning , step will be 4
a[::4]

'Horo'

In [28]:
# example 7
# if we want to see it iterate in reverse order
a[::-3]

'u aoi'

In [ ]:
# Since strings are immutable we can only modify it by using:- string(word we want to replace, word in place of replaced word)

In [ ]:
# 2- Explain the key features of lists in Python.

In [ ]:
'''
solution:- Lists are ordered collection of items , we can store any data type in list
           for example:- list=[1,2,"hi",4.6],3+5j]
'''

In [30]:
#key features of list are:- 
'''
1-Lists are mutable 
'''
# Example 1
a=[1,2,3,4]
a[2]="hello"
a

[1, 2, 'hello', 4]

In [32]:
'''
2-Lists are heterogeneous
'''
# Example 2
a=[1,"hi",3.4,3+5j]
a

[1, 'hi', 3.4, (3+5j)]

In [36]:
'''
3-Lists can be accessed through indexing 
'''
# Example 3
a=[3,4,5,6,7]
print(a)
a[2]

[3, 4, 5, 6, 7]

5

In [43]:
'''
4-Lists are iterable 
'''
# Example 4
a=[1,2,3,4,5]
for i in range (len(a)):
    print(i)

0
1
2
3
4

In [49]:
'''
5-List supports various methods such as:-  append() , extend() , insert() , remove() , count()
'''
#append()
x=[1,2,3,4,5]
print(x)
x.append(100)
x

[1, 2, 3, 4, 5]

[1, 2, 3, 4, 5, 100]

In [63]:
#extend()
a=[2,3,4,6]
b=[9,8,7,6]
b.extend(a)
print(b)

[9, 8, 7, 6, 2, 3, 4, 6]

In [67]:
#insert()
a=[1,2,3,4]
a.insert(2,"Helllo")
a

[1, 2, 'Helllo', 3, 4]

In [73]:
#remove()
re=[12,24,36,48]
print(re)
re.remove(36)
re

[12, 24, 36, 48]

[12, 24, 48]

In [83]:
#count()
cu=["hello","pyshology","hello","ok","hello"]
cu.count("hello")

3

In [ ]:
# 3- Describe how to access, modify, and delete elements in a list with examples.

In [ ]:
'''
solution:- for accessing , modidfying and deleting elements in a list some common functions are used :-
           1- Accessing
              index()
           
'''

In [91]:
# Example 1 
a=[1,2,353.63,"Hi",5]
a.index("Hi")

3

In [97]:
len(a)

5

In [ ]:
'''
2- Modifying:-
              append()
              insert()
              extend()
              sort()
'''

In [103]:
# Example 2
#append() - Adds an element to the end of the list
x=[1,2,3]
print(x)
print("---------")
x.append("I am new in the list")
x

[1, 2, 3]
---------

[1, 2, 3, 'I am new in the list']

In [119]:
# Example 4
#insert() - Inserts an element in the specified position
x=[1,2,3]
print(x)
print("---------")
x.insert(1,4)
x

[1, 2, 3]
---------

[1, 4, 2, 3]

In [109]:
# Example 5
#extend() - Adds multiple elements to the end of list
x=[7,8,9]
a=[1,2,3]
print(x)
print("---------")
x.extend(a)
x

[7, 8, 9]
---------

[7, 8, 9, 1, 2, 3]

In [121]:
# Example 6
#sort() - Sorts the list in ascending order
x=[6,5,4,3,2,1]
print(x)
print("---------")
x.sort()
x

[6, 5, 4, 3, 2, 1]
---------

[1, 2, 3, 4, 5, 6]

In [ ]:
'''
3- Deleting:-
             remove()
             pop()
             clear()
'''

In [125]:
# Example 7
#remove() - removes the first occurance of the specified position
x=[1,2,3,4,5]
print(x)
print("---------")
x.remove(2)
x

[1, 2, 3, 4, 5]
---------

[1, 3, 4, 5]

In [127]:
# Example 8
#pop() - removes the  element at the specified position
x=[12,2,47,55]
print(x)
print("---------")
x.pop(2)
x

[12, 2, 47, 55]
---------

[12, 2, 55]

In [129]:
# Example 9
#clear() - removes all element from the list
x=[1,2,3,4,5,6]
print(x)
print("---------")
x.clear()
x

[1, 2, 3, 4, 5, 6]
---------

[]

In [ ]:
# 4-  Compare and contrast tuples and lists with examples.

In [ ]:
'''

solution:- 1: TUPLE - A Tuple is a data structure in python that is ordered 
                                                         immutable
                                                         heterogeneous
                     .Tuple is defined using parentheses ()
                     
                     .Data in tuple canonot be changed 
                     
                     .Tuple can be used as a dictionary key

                     .Tuple does not support these methods - append() , insert() , remove() , sort()
                     
          
'''

In [133]:
# Example 1
my_tuple=(1,2,3,4,"hi")
my_tuple

(1, 2, 3, 4, 'hi')

In [137]:
# Example 2
my_tuple.append(5) #tuple does not support methods

AttributeError: 'tuple' object has no attribute 'append'

In [139]:
# Example 3 
my_tuple[1]="OK" #tuple does not support item assignment (immutable)

TypeError: 'tuple' object does not support item assignment

In [145]:
'''
           2: LIST - A list is a data structure in python that is ordered
                                                                  mutable
                                                                  heterogeneoud
              .list is defined using sqaure brackets [] 

              .data in list can be changed 

              .list is used for data that needs to be modified frequently

              .list support methods - append() , sort() , insert() , remove()
'''

In [147]:
# Example 1 
my_li=[1,2,3,4,"Hi"]
my_li

[1, 2, 3, 4, 'Hi']

In [149]:
# Example 2
my_li.append(121) #list support methods
my_li

[1, 2, 3, 4, 'Hi', 121]

In [159]:
# Example 3
my_li.remove(121)
my_li

[1, 3, 4, 'Hi']

In [167]:
# Example 4
my_li.insert(3,22)
my_li

[1, 3, 4, 22, 233, 233, 'Hi']

In [169]:
# Example 5
my_li[1]="welcome" #list is mutable 
my_li

[1, 'welcome', 4, 22, 233, 233, 'Hi']

In [ ]:
# 5- Describe the key features of sets and provide examples of their use.

In [ ]:
'''
solution:- Key features of sets are :-

           . Sets are unordered collection of unique elements

           . Sets are mutable

           . Sets doesn't allow duplcate elements 

           . Indexing will not work in sets 
                 

           
'''

In [171]:
# Example 1
s={1,2,3,4}
type(s)

set

In [173]:
# Example 2
# doesn't allow duplicate values
s={1,2,2,2,3,4,4,4,5,5,6,6,6,6,6,7,7,7,7}
s

{1, 2, 3, 4, 5, 6, 7}

In [175]:
# Example 3
# indexing not allowed 
s={1,2,3,4,5,6}
s[2]

TypeError: 'set' object is not subscriptable

In [179]:
# Example 5
s={1,2,3,{4,5,6}} #immmutable data structure has a stable hash value like tuples

TypeError: unhashable type: 'set'

In [181]:
# Example 6
s={1,2,3,(4,5,6)} #it didn't throw error because tuple is immutable value
s

{(4, 5, 6), 1, 2, 3}

In [183]:
# Example 7
s={1,2,3}
s.add(100)
s

{1, 2, 3, 100}

In [185]:
# Example 8
print(s)
print("------")
s.update([2,22])
s

{1, 2, 3, 100}
------

{1, 2, 3, 22, 100}

In [1]:
# Example 9
s={1,23,4,5,6,7,8,9,3,54,7,7,6,5,3,2}
for i in s:
    print(i)

1
2
3
4
5
6
7
8
9
54
23

In [ ]:
# 6- Discuss the use cases of tuples and sets in Python programming

In [ ]:
'''
solution:- Tuples and Sets are both data structures in python.
           They have different use cases

'''

In [ ]:
'''
1- Tuple :- 
           Immutable data : We use tuple when we need to store data that shouldn't be changed

           Fast indexing : Tuples are faster than lists for indexing and slicing , making them suitable for datasets

           Hashable : Tuples can be used as dictionary keys because they are hashable

           Data records : Tuples can be used to represent data such as person's name , age and address
'''

In [3]:
# Example 
a=(1,2,3,4,5)
a

(1, 2, 3, 4, 5)

In [5]:
#slicing
a=[1,2,3,34,4,5234]
a[::2]

[1, 3, 4]

In [7]:
#indexing 
a=(22,33,44,55,66)
a[2]

44

In [9]:
#hashable 
a=(1,2,3)
b={a:12,100:23}
b

{(1, 2, 3): 12, 100: 23}

In [11]:
#immutable 
a=(1,2,3)
a[0]=33
a

TypeError: 'tuple' object does not support item assignment

In [ ]:
'''
NOTE :- Tuple is immutable and it stores immutable data 
'''

In [ ]:
'''
2- Sets :-
           Unique data : We use sets to store unique elements , such as id , username 

           Data validation : Sets can be used to validate data by checking if an element is in a set of allowed data

           Data deduplications : Sets can be used to remove duplicates from a list or other iterable

'''

In [15]:
# Example 
#unique data
se={1,1,1,2,2,2,3,3,3,4,4,4,5,5,56,6,7,7,7,7,7,8,8,8,8,7,6,5,4,4,4,3,3,5,6,7,8}
se

{1, 2, 3, 4, 5, 6, 7, 8, 56}

In [25]:
#data validation
s={"red","green","blue"}
color="red"
if color in s:
    print("color found")
else:
    print("color not found ")

color found

In [21]:
#data deduplication
a=[1,2,2,3,3,4,4,"hi","hi","how","how","are","are","you","you"]
b=set(a)
b

{1, 2, 3, 4, 'are', 'hi', 'how', 'you'}

In [27]:
a={10,20,30,40,50,60}
for i in a:
    print(i)

50
20
40
10
60
30

In [ ]:
# 7- Describe how to add, modify, and delete items in a dictionary with examples

In [ ]:
'''
solution:- for adding , modifying and deleting items in a dictionary we use following functions:-


'''

In [31]:
# Addition
''' syntax - di={}
           di[key]=value
'''
di={"a":1,"b":2}
di["c"]=5000
di

{'a': 1, 'b': 2, 'c': 5000}

In [35]:
# Modification
'''
 syntax - di={}
          di.update()
'''
di={1:100,2:200,3:300}
print(di)
print("-----------")
di.update({1:10011,2:20022})
di

{1: 100, 2: 200, 3: 300}
-----------

{1: 10011, 2: 20022, 3: 300}

In [37]:
# Deletion
'''
  syntax - di={}
           if we want to delete only key pair 
           del di["key"]
'''
di={"a":10,"b":20,"c":30}
del di["b"]
di

{'a': 10, 'c': 30}

In [39]:
'''
   pop()
'''
di={1:100,2:200,3:300}
di.pop(1)
di

{2: 200, 3: 300}

In [43]:
'''
   popitem()
   it will remove last inserted pair 
'''
dict={1:111,2:222,3:333}
key=dict.popitem()
dict

{1: 111, 2: 222}

In [ ]:
# 8 - Discuss the importance of dictionary keys being immutable and provide examples

In [ ]:
'''
solution:- Dictionary keys are hashed to store and retrieve values efficiently.

           Immutable keys guarantee uniqueness , as changing a key would create a new key , leading to data duplication

           Immutable keys enable fast lookups, because hash value is computed only once 
           
'''

In [ ]:
# Example of immutable keys :

'''
. Integers : 1,2,3

. Floats : 2.2 , 3.3

. Strings : "hello" "world"

. Tuples : (1,2) , ("a" , "b")

'''

In [51]:
# Tuples
a=(1,2,3)
a[0]=111

TypeError: 'tuple' object does not support item assignment

In [53]:
# Strings
a="hi"
a[0]="k"
a

TypeError: 'str' object does not support item assignment

In [55]:
# Integers
a=500
a[0]=1222
a

TypeError: 'int' object does not support item assignment

In [57]:
# Float
a=2.2
a[0]=4.4
a

TypeError: 'float' object does not support item assignment

In [45]:
# Example of mutable keys :

'''

. List : [1,2,3]

. Dictionaries : {1:111,2:222}

. Sets : {1,2},{"a","b"}

'''

In [59]:
# List 
a=[1,2,3,4]
a[1]=1112
a

[1, 1112, 3, 4]

In [61]:
# Dictionaries
a={1:22,2:33,3:44}
a[2]=1001
a

{1: 22, 2: 1001, 3: 44}

In [65]:
# Sets
a={1,2,3}
a.update([4,5,6])
a

{1, 2, 3, 4, 5, 6}

In [ ]:
# PYTHON INSURES DICTIONARY INTEGRITY , EFFICIENCY AND RELIABILITY BY ENFORCING IMMUTABLE KEYS